#page-container {
    position: relative;
    height: auto;
    padding: 1em;
    border-radius: 1em;
}

a {
    text-decoration: none;
}

h2 {
    letter-spacing: -0.2px;
    /* background: linear-gradient(90deg, #000, #fff, #000); */
    background: linear-gradient(140deg, #807b83, #695c75, #604e70, rgb(54, 33, 63));
    /* background: #000; */
    text-transform: uppercase;
    color: #fff;
    font-family: Hack, sans-serif,monospace;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    margin-top: 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    animation: shine 5s linear infinite;
    position: relative;
}

/* @keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
} */


h2 span{
    transition: .5s linear
  }
  h2:hover span:nth-child(1){
    margin-right: 5px
  }
  h2:hover span:nth-child(1):after{
    content: "'";
  }
  h2:hover span:nth-child(2){
    margin-left: 30px
  }
  h2:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }

html,
body {
    height: 100%;
    color: #545e6f;
    font-size: medium;
}

#content {
    height: auto;
    border-radius: 1em;
}

body {

    max-width: 1180px;
    width: 98%;
    margin: 0px auto;
    overflow-x: hidden;
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;

}

#header {
    padding: 10px;
    border-bottom-style: double;
    border-radius: 12px;
    background-image: url('../images/header3.jpg');
}

#columns{
    column-count: 3;
}

.img {
    border-radius: 50%;
}

.imageBox {
    display: inline-block;
    padding-top: 10px;
}

#footer {
    position:relative;
    display: block;
    right: 0;
    bottom: 0;
    left: 0;
}

.toc-title {
    color: #545e6f;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: -0.2px
}

.uc-bg-grey {
    background: #f1f2f5
}

.uc-bg-white {
    background: #fff
}

.uc-title {
    color: #545e6f;
    font-weight: 500;
    letter-spacing: -0.2px
}

#markdown-toc {
    margin-top: 20px;
    padding-left: 20px
}

#markdown-toc li:before {
    content: '#';
    color: rgba(206, 31, 153, 0.8);
    margin-right: 10px
}

li a:hover {
    color: #ce1f99
}

#markdown-toc li {
    font-size: 1rem;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 5px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 599px) {
    body {
        width: 98%;
        margin: 0px auto;
        min-height: 100%;
        overflow-x: hidden;
        background-color: white;
        color: #404040;
        font-size: 11pt;
        font-family: Georgia, Garamond, sans-serif;
    }

    .imageBox {
        display: inline-block;
        padding-top: 10px;
        box-sizing: border-box;
    }

    #columns{
        column-count: auto;
    }

    #footer {
        position: relative;
        display: block;
        right: 0;
        bottom: 0;
        left: 0;
    }
}