
  header {
      width: 96%;
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  html,
  body {
      max-width: 1180px;
      width: 98%;
      margin: 0px auto;
      text-align: left;
      background-color: white;
      color: #404040;
      font-size: 11pt;
      font-family: Georgia, Garamond,sans-serif;
      align-items: center;
      
  }

  article {
    float: left;
    padding: 20px;
    width: 98%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  section::after {
    content: "";
    display: flex;
    clear: both;
    width: max-content;
  }
div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
    float: left;
    width: 23.8%;
    transition: width 2s, transform 2s;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    /* transform: scale(1.5) rotate(0.01deg); */
    transform: scale(1.5) rotate(360deg);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
 
  * {
    box-sizing: border-box;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
      width: 98%;
      height: auto;
    }
  }
  footer {
    /* float: right;
    display: table-row; */
    width: 96%;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 5px;
  }
    
